<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Auth-API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="center">
      <h1>Request reset token</h1>
      {% if response %}
        <div class="success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{response}}
        </div>
      {% elif error %}
        <div class="error">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{error}}
        </div>
      {% endif %}
      <form action="/request_password_reset" method="post">
        <div class="txt_field">
          <input type="email" name="email" id="email" required>
          <span></span>
          <label>Email</label>
        </div>
        <input type="submit" value="Request token">
        <div class="signup_link">
          Already have a reset token? <a href="{{ url_for('reset_password') }}">Reset password</a>
        </div>
        <div class="signup_link">
          <a href="{{ url_for('index') }}">Back to login</a>
        </div>
      </form>
    </div>

  </body>
</html>
